
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

.calendar * {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    cursor: default;
}

.calendar {
    width: 300px;
    margin: 0 auto;
    background-color: #EDEDED;
    border: 1px solid #A3A3A3;
    border-radius: 5px;
    overflow: hidden;
}

.calendarHeader > * {
    margin: 0;
}
.calendarHeader > div:first-child {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.calendarActionBefore, .calendarActionAfter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #CECECE;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}
.calendarActionAfter  {
    left: auto;
    right: 20px;
}

.calendarActionBefore:hover, .calendarActionAfter:hover {
    background-color:rgba(54, 54, 54, 0.2);
}

.calendarActionBefore > i, .calendarActionAfter > i {
    width: 5px;
    height: 5px;
    background-color: transparent;
    border: 0;
    border-style: solid;
    border-color: #444;
    border-left-width: 2px; 
    border-top-width: 2px;
    transform: rotate(-45deg);
}

.calendarActionAfter > i {
    transform: rotate(135deg);
}

.calendarHeader > div:first-child h1 {
    color: #444;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 700;
}

.calendar > div:first-child span {
    color: #444;
    font-size: 1.1em;
    font-weight: 500;
}

.calendarHeader > div:first-child h1, .calendar > div:first-child span {
    margin-top: 10px;
}

.calendarDaysWeek > ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-top: 10px;
    color: #444;
    font-weight: 600;
}

.calendarDaysWeek > ul > li:first-child {
    font-weight: 600;
    color: #c0392b;
}

.calendarDaysWeek > ul li {
    list-style: none;
    text-align: center;
    margin-bottom: 7px;
}

.calendarDaysWeek > ul, .calendarBody {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #E2E2E2;
}

.calendarBody {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    text-align: center;
    padding-bottom: 20px;
}

.calendarBody > span {
    font-weight: 500;
    color: #444;
}