@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");

.calendar * {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  cursor: default;
}

.calendarHeader > * {
  margin: 0;
}

.calendar {
  width: 300px;
  margin: 0 auto;
  background-color: #1a363f;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.eventDetails,
#settingsContainer {
  position: absolute;
  top: -40px;
  width: 100%;
  height: 123%;
  background-color: #fff;
  z-index: 2;
  transition: 0.5s;
  transform: translateX(-100%);
}

.eventDetails > div:first-child,
#settingsContainer > div:first-child {
  height: 30px;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 20px 10px 0 10px;
  justify-content: left;
  align-items: center;
}

.eventDetails > div:first-child span,
#settingsContainer > div:first-child span {
  padding-left: 5px;
}

.eventDetails > div:first-child span:first-child,
#settingsContainer > div:first-child span:first-child {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s;
  display: inline-block;
  padding-left: 0;
}

.eventDetails > div:first-child span:first-child:hover,
#settingsContainer > div:first-child span:first-child:hover {
  border-color: transparent;
  background-color: #fe623e;
}

.eventDetails > div:first-child span:first-child::before,
#settingsContainer > div:first-child span:first-child::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: transparent;
  border: 0;
  border-style: solid;
  border-color: #444;
  border-left-width: 2px;
  border-top-width: 2px;
  transform: rotate(-45deg) translate(2px, -2px);
  cursor: pointer;
  display: inline-block;
}

.eventDetails > div:first-child span:hover::before {
  border-color: #fff;
}

.eventDetails > ul {
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 83%;
}

.eventDetails > ul::-webkit-scrollbar {
  width: 7px;
}

.eventDetails > ul::-webkit-scrollbar-track {
  background: #ededed;
}

.eventDetails > ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #dcdbdb;
  transition: 0.5s;
}

.eventDetails > ul::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  width: 20px;
}

.eventDetails > ul > li {
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px 8px;
  list-style: none;
  background-color: #fe623edb;
  text-align: left;
  font-size: 0.9em;
}

.eventDetails a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 0.8em;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.eventDetails a:hover {
  color: #1a363f;
}

/* Settings */
.settingsBody {
  margin: 10px;
}

.settingsBody > div {
  display: flex;
  justify-content: space-around;
}

#settingsButton {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTguMS4xLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIxLjU4OSAyMS41ODkiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIxLjU4OSAyMS41ODk7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiPgo8Zz4KCTxwYXRoIGQ9Ik0xOC42MjIsOC4zNzFsLTAuNTQ1LTEuMjk1YzAsMCwxLjI2OC0yLjg2MSwxLjE1Ni0yLjk3MWwtMS42NzktMS42MzljLTAuMTE2LTAuMTEzLTIuOTc4LDEuMTkzLTIuOTc4LDEuMTkzbC0xLjMyLTAuNTMzICAgYzAsMC0xLjE2Ni0yLjktMS4zMjYtMi45SDkuNTYxYy0wLjE2NSwwLTEuMjQ0LDIuOTA2LTEuMjQ0LDIuOTA2TDYuOTk5LDMuNjY3YzAsMC0yLjkyMi0xLjI0Mi0zLjAzNC0xLjEzMUwyLjI4OSw0LjE3NyAgIEMyLjE3Myw0LjI5LDMuNTA3LDcuMDkzLDMuNTA3LDcuMDkzTDIuOTYyLDguMzg2YzAsMC0yLjk2MiwxLjE0MS0yLjk2MiwxLjI5NXYyLjMyMmMwLDAuMTYyLDIuOTY5LDEuMjE5LDIuOTY5LDEuMjE5bDAuNTQ1LDEuMjkxICAgYzAsMC0xLjI2OCwyLjg1OS0xLjE1NywyLjk2OWwxLjY3OCwxLjY0M2MwLjExNCwwLjExMSwyLjk3Ny0xLjE5NSwyLjk3Ny0xLjE5NWwxLjMyMSwwLjUzNWMwLDAsMS4xNjYsMi44OTgsMS4zMjcsMi44OThoMi4zNjkgICBjMC4xNjQsMCwxLjI0NC0yLjkwNiwxLjI0NC0yLjkwNmwxLjMyMi0wLjUzNWMwLDAsMi45MTYsMS4yNDIsMy4wMjksMS4xMzNsMS42NzgtMS42NDFjMC4xMTctMC4xMTUtMS4yMi0yLjkxNi0xLjIyLTIuOTE2ICAgbDAuNTQ0LTEuMjkzYzAsMCwyLjk2My0xLjE0MywyLjk2My0xLjI5OXYtMi4zMkMyMS41OSw5LjQyNSwxOC42MjIsOC4zNzEsMTguNjIyLDguMzcxeiBNMTQuMjU2LDEwLjc5NCAgIGMwLDEuODY3LTEuNTUzLDMuMzg3LTMuNDYxLDMuMzg3Yy0xLjkwNiwwLTMuNDYxLTEuNTItMy40NjEtMy4zODdzMS41NTUtMy4zODUsMy40NjEtMy4zODUgICBDMTIuNzA0LDcuNDEsMTQuMjU2LDguOTI3LDE0LjI1NiwxMC43OTR6IiBmaWxsPSIjMDAwMDAwIi8+Cgk8Zz4KCTwvZz4KCTxnPgoJPC9nPgoJPGc+Cgk8L2c+Cgk8Zz4KCTwvZz4KCTxnPgoJPC9nPgoJPGc+Cgk8L2c+Cgk8Zz4KCTwvZz4KCTxnPgoJPC9nPgoJPGc+Cgk8L2c+Cgk8Zz4KCTwvZz4KCTxnPgoJPC9nPgoJPGc+Cgk8L2c+Cgk8Zz4KCTwvZz4KCTxnPgoJPC9nPgoJPGc+Cgk8L2c+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==);
  background-size: contain;
  background-repeat: no-repeat;
  content: " ";
  z-index: 1;
  bottom: 3%;
  left: 3%;
  cursor: pointer;
  transition: transform 0.5s ease;
  filter: invert(0.5);
}

#settingsButton:hover {
  transform: rotate(45deg);
}

.calendarHeader > div:first-child {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.calendarActionBefore,
.calendarActionAfter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  margin: auto 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}
.calendarActionAfter {
  left: auto;
  right: 20px;
}

.calendarActionBefore:hover,
.calendarActionAfter:hover {
  background-color: #fe623e;
  border-color: transparent;
}

.calendarActionBefore:hover > i,
.calendarActionAfter:hover > i {
  border-color: #fff;
}

.calendarActionBefore > i,
.calendarActionAfter > i {
  width: 5px;
  height: 5px;
  background-color: transparent;
  border: 0;
  border-style: solid;
  border-color: #fff;
  border-left-width: 2px;
  border-top-width: 2px;
  transform: rotate(-45deg);
  cursor: pointer;
}

.calendarActionAfter > i {
  transform: rotate(135deg);
}

.calendarHeader > div:first-child h1 {
  color: #f8fdff;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 700;
}

.calendar > div:first-child span {
  color: #f8fdff;
  font-size: 1.1em;
  font-weight: 500;
}

.calendarHeader > div:first-child h1,
.calendar > div:first-child span {
  margin-top: 10px;
}

.calendarDaysWeek > ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding-top: 10px;
  color: #444;
  font-weight: 600;
}

.calendarDaysWeek > ul > li:first-child {
  font-weight: 600;
  color: #444;
}

.calendarDaysWeek > ul li {
  list-style: none;
  text-align: center;
  margin-bottom: 7px;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.8em;
}

.calendarDaysWeek > ul,
.calendarBody {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}

.calendarDaysWeek > ul {
  background-color: #fe623e;
}

.calendarBody {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, minmax(min-content, 27px));
  grid-auto-rows: 37px;
  text-align: center;
  padding-bottom: 20px;
  align-items: center;
  padding-top: 10px;
}

.calendarBody > span {
  font-weight: 600;
  color: #858885;
  font-size: 0.7em;
}

.calendarLastAndNextMonth {
  color: rgba(68, 68, 68, 0.5) !important;
}

.calendarToday,
.calendarEvent {
  display: flex;
  justify-content: center;
}
.calendarToday > span,
.calendarEvent > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  padding: 5px;
  box-sizing: content-box;
  border: 1px solid transparent;
  background-color: #eeeeee;
  border-radius: 50%;
  color: #858885;
}

.calendarEvent > span {
  background-color: #27ae60;
  color: #f2f2f2;
  cursor: pointer;
}
