
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

.calendar * {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    cursor: default;
}

.calendarHeader > * {
    margin: 0;
}

.calendar {
    width: 300px;
    margin: 0 auto;
    background-color: #1A363F;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    overflow: hidden;
}

.eventDetails {
    position: absolute;
    top: -40px;
    width: 100%;
    height: 123%;
    background-color: #fff;
    z-index: 1;
    transition: 0.5s;
    transform: translateX(-100%);
}

.eventDetails > div:first-child {
    position: absolute;

    height: 30px;
    padding: 0;
}

.eventDetails > div:first-child span {
    display: block;
    margin-left: 20px;
    margin-top: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}

.eventDetails > div:first-child span:hover {
    border-color: transparent;
    background-color: #FE623E;
}

.eventDetails > div:first-child span::before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: transparent;
    border: 0;
    border-style: solid;
    border-color: #444;
    border-left-width: 2px; 
    border-top-width: 2px;
    transform: rotate(-45deg);
    cursor: pointer;
}

.eventDetails > div:first-child span:hover::before {
    border-color: #fff;
}

.eventDetails > ul {
    margin: 0 auto;
    margin-top: 35px;
    padding: 0 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 83%;
}

.eventDetails > ul::-webkit-scrollbar {
    width: 7px;
}

.eventDetails > ul::-webkit-scrollbar-track {
    background: #EDEDED; 
  }

.eventDetails > ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dcdbdb;
    transition: 0.5s;
}
  
.eventDetails > ul::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    width: 20px;
}

.eventDetails > ul > li {
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px 8px;
    list-style: none;
    background-color: #fe623edb;
    text-align: left;
    font-size: 0.9em;
}

.eventDetails a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 0.8em;
    cursor: pointer;
    transition: .2s ease-in;
}

.eventDetails a:hover {
    color: #1A363F;
}

.calendarHeader > div:first-child {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.calendarActionBefore, .calendarActionAfter  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}
.calendarActionAfter  {
    left: auto;
    right: 20px;
}

.calendarActionBefore:hover, .calendarActionAfter:hover {
    background-color: #FE623E;
    border-color: transparent;
}

.calendarActionBefore:hover > i, .calendarActionAfter:hover > i {
    border-color: #fff;
}

.calendarActionBefore > i, .calendarActionAfter > i {
    width: 5px;
    height: 5px;
    background-color: transparent;
    border: 0;
    border-style: solid;
    border-color: #fff;
    border-left-width: 2px; 
    border-top-width: 2px;
    transform: rotate(-45deg);
    cursor: pointer;
}

.calendarActionAfter > i {
    transform: rotate(135deg);
}

.calendarHeader > div:first-child h1 {
    color: #F8FDFF;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 700;
}

.calendar > div:first-child span {
    color: #F8FDFF;
    font-size: 1.1em;
    font-weight: 500;
}

.calendarHeader > div:first-child h1, .calendar > div:first-child span {
    margin-top: 10px;
}

.calendarDaysWeek > ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-top: 10px;
    color: #444;
    font-weight: 600;
}

.calendarDaysWeek > ul > li:first-child {
    font-weight: 600;
    color: #444;
}

.calendarDaysWeek > ul li {
    list-style: none;
    text-align: center;
    margin-bottom: 7px;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.8em;
}

.calendarDaysWeek > ul, .calendarBody {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
}

.calendarDaysWeek > ul {
    background-color: #FE623E;
}

.calendarBody {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, minmax(min-content, 27px));
    grid-auto-rows: 37px;
    text-align: center;
    padding-bottom: 20px;
    align-items: center;
    padding-top: 10px;
}

.calendarBody > span {
    font-weight: 600;
    color: #858885;
    font-size: 0.7em;
}

.calendarLastAndNextMonth {
    color: rgba(68, 68, 68, 0.5) !important;
}

.calendarToday, .calendarEvent {
    display: flex;
    justify-content: center;
}
.calendarToday > span, .calendarEvent > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    padding: 5px;
    box-sizing: content-box;
    border: 1px solid transparent;
    background-color: #EEEEEE;
    border-radius: 50%;
    color: #858885;
}

.calendarEvent > span {
    background-color: #27ae60;
    color: #f2f2f2;
    cursor: pointer;
}
