@import url("../DefaultStyle/DefaultStyle.css");

.calendar {
    --primary-background-color: #222;
    --secondary-background-color: #222;
    --primary-highlight-color: #1370E3;
    --primary-date-highlight-color: #577286;
    --secondary-date-highlight-color: #1370E3;
    --primary-font-color: #9d9d9d;
    --primary-inverted-font-color: #fff;
    --primary-border-color: #fff;
    --scrollbar-background-color: #ededed;
    --scrollbar-thumb-color: #dcdbdb;
    --scrollbar-hover-color: #b3b3b3;
}
